.navbar-brand {
    font-weight: bold;
    padding-left: 10px;
}

.mainlogo {
    display: none;
}

img {
    object-fit: cover;
}

#yellow {
    background-color: #ffc56b;
    width: 355px;
    height: 464px;
    border-radius: 5px;
}

@media only screen and (min-width: 600px) {
    .mainlogo {
        display: block;
        margin-left: 20px;
    }

    #sign {
        margin-right: 50px;
    }
}